<!DOCTYPE html>
<html>
  <head>
    <title>MovieApp</title>
    <!-- Latest compiled and minified CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/darkly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
  </head>
  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" rel="home" href="/" title="...">MovieApp</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">

        <ul class="nav navbar-nav">
          <li <%= 'class="active"' if @active == 'movies' %>><a href="/movies">Movies</a></li>
          <li <%= 'class="active"' if @active == 'about' %>><a href="/about">About</a></li>
        </ul>
     
        <div class="col-sm-5 col-md-4 pull-right">
          <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" name="search" value="<%= @search %>" class="form-control" placeholder="Search">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                  <button type="reset" class="btn btn-default"
      onclick="window.location.href='/movies'"><i class="glyphicon glyphicon-remove"></i></button>
                </div>
                
            </div>
          </form>
        </div>        
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 pull-right">
          <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              Sort by
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="/movies?sort=<%=@sort ="name"%>">Title</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="/movies?sort=<%=@sort ="year"%>">Release Year</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="/movies?sort=<%=@sort ="rating"%>">IMDB rating</a></li>
            </ul>
          </div>
        </div>
    </div>
    <%= yield %>
           <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>